<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/cabeçalho.css">
    <link rel="stylesheet" href="CSS/main.css">
    <link rel="stylesheet" href="CSS/footer.css">
    
</head>
<body>
    <div class="header"></div>
    <div class="nav">
        <div class="div1">div1</div>
        <div class="div2">div2</div>
        <div class="div3">div3</div>
        <div class="div4">div4</div>
    </div>
        <div class="main">
            <section class="caixa1">
                <div class="box1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel unde id, quisquam molestiae eum temporibus exercitationem necessitatibus fuga nulla minus magni rerum autem enim rem nam voluptatem. Atque, culpa nam!</div>
                <div class="box2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime error amet, iure tempore accusamus consequuntur ipsa corrupti, possimus aspernatur in rem velit quos? Sint veritatis corporis iusto animi iure odio.</div>
            </section>
            <section class="caixa2">
                <div class="box3"></div>
            </section>
            <section class="caixa3">
                <div class="box4"></div>
            </section>
        </div>

    <div class="footer"></div>
    

</body>
</html>