.caixa > div{
    background-color: aqua;
    height: 100px;
    margin: 10px;
    padding: 20px;
    width: 100px;
}

.caixa{
    background-color: rgb(129, 255, 3);
    display: flex;
    margin: auto;
    width: 1000px;
    justify-content: space-around;
}
